
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    overflow-y: scroll; /* Ensures vertical scrolling */
}


header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav {
    background-color: #444;
    color: white;
    padding: 0.5em 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    background-color: black;
    color: white;
    padding: 1em;
    text-align: center;
}

section {
    background-color: black;
    margin-bottom: 2em;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
